In [26]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [27]:
covid_data_csv = Path("COVID-19_Deaths_by_Sex_and_Age_20240328.csv")
covid_data_df = pd.read_csv(covid_data_csv)

In [45]:
covid_data_df.head()

covid_data_df.dropna(subset=["COVID-19 Deaths", "Total Deaths", "Pneumonia Deaths", "Pneumonia and COVID-19 Deaths"], inplace=True)

columns = ["Start Date", "End Date",	"Group", "Year", "Month", "State", "Sex", "Age Group",
           "COVID-19 Deaths", "Total Deaths", "Pneumonia Deaths", "Pneumonia and COVID-19 Deaths"]
covid_nj_df = covid_data_df.loc[covid_data_df["State"] == "New Jersey", columns]
covid_nj_df

,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths
1581,01/01/2020,09/23/2023,By Total,NaN,NaN,New Jersey,All Sexes,All Ages,35691.0,312963.0,31031.0,17287.0
1586,01/01/2020,09/23/2023,By Total,NaN,NaN,New Jersey,All Sexes,15-24 years,53.0,2051.0,58.0,15.0
1587,01/01/2020,09/23/2023,By Total,NaN,NaN,New Jersey,All Sexes,18-29 years,166.0,4079.0,143.0,65.0
1588,01/01/2020,09/23/2023,By Total,NaN,NaN,New Jersey,All Sexes,25-34 years,287.0,5603.0,243.0,129.0
1589,01/01/2020,09/23/2023,By Total,NaN,NaN,New Jersey,All Sexes,30-39 years,452.0,7323.0,369.0,198.0
...,...,...,...,...,...,...,...,...,...,...,...,...
87181,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Male,15-24 years,0.0,10.0,0.0,0.0
87193,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,All Ages,44.0,1824.0,96.0,16.0
87197,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,5-14 years,0.0,0.0,0.0,0.0
87199,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,18-29 years,0.0,14.0,0.0,0.0
87200,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,25-34 years,0.0,14.0,0.0,0.0

In [44]:
covid_nj_df['Month'] = covid_nj_df['Month'].fillna(0)
covid_nj_df['Year'] = covid_nj_df['Year'].fillna(0)
covid_nj_df

,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths
1581,01/01/2020,09/23/2023,By Total,0.0,0.0,New Jersey,All Sexes,All Ages,35691.0,312963.0,31031.0,17287.0
1586,01/01/2020,09/23/2023,By Total,0.0,0.0,New Jersey,All Sexes,15-24 years,53.0,2051.0,58.0,15.0
1587,01/01/2020,09/23/2023,By Total,0.0,0.0,New Jersey,All Sexes,18-29 years,166.0,4079.0,143.0,65.0
1588,01/01/2020,09/23/2023,By Total,0.0,0.0,New Jersey,All Sexes,25-34 years,287.0,5603.0,243.0,129.0
1589,01/01/2020,09/23/2023,By Total,0.0,0.0,New Jersey,All Sexes,30-39 years,452.0,7323.0,369.0,198.0
...,...,...,...,...,...,...,...,...,...,...,...,...
87181,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Male,15-24 years,0.0,10.0,0.0,0.0
87193,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,All Ages,44.0,1824.0,96.0,16.0
87197,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,5-14 years,0.0,0.0,0.0,0.0
87199,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,18-29 years,0.0,14.0,0.0,0.0
87200,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,25-34 years,0.0,14.0,0.0,0.0

Empty DataFrame
Columns: [Data As Of, Start Date, End Date, Group, Year, Month, State, Sex, Age Group, COVID-19 Deaths, Total Deaths, Pneumonia Deaths, Pneumonia and COVID-19 Deaths, Influenza Deaths, Pneumonia, Influenza, or COVID-19 Deaths]
Index: []