In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
covid_data_csv = Path("Provisional_COVID-19_Deaths_by_Sex_and_Age_20240328.csv")
covid_data_df = pd.read_csv(covid_data_csv)

In [3]:
covid_data_df.head(20)

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,All Ages,1146774.0,12303399.0,1162844.0,569264.0,22229.0,1760095.0,NaN
1,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,Under 1 year,519.0,73213.0,1056.0,95.0,64.0,1541.0,NaN
2,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,0-17 years,1696.0,130970.0,2961.0,424.0,509.0,4716.0,NaN
3,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,1-4 years,285.0,14299.0,692.0,66.0,177.0,1079.0,NaN
4,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,5-14 years,509.0,22008.0,818.0,143.0,219.0,1390.0,NaN
5,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,15-24 years,3021.0,133459.0,3175.0,1257.0,206.0,5133.0,NaN
6,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,18-29 years,7030.0,231382.0,7038.0,3162.0,329.0,11206.0,NaN
7,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,25-34 years,12401.0,278680.0,11706.0,5842.0,464.0,18689.0,NaN
8,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,30-39 years,19886.0,348041.0,18395.0,9766.0,644.0,29114.0,NaN
9,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,35-44 years,30108.0,416477.0,27301.0,15228.0,797.0,42904.0,NaN
10,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,40-49 years,46260.0,511478.0,41105.0,24074.0,1002.0,64168.0,NaN
11,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,45-54 years,71388.0,709522.0,64918.0,38149.0,1452.0,99423.0,NaN
12,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,50-64 years,203071.0,2030691.0,202077.0,110328.0,4345.0,298620.0,NaN
13,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,55-64 years,159712.0,1604904.0,161910.0,86974.0,3450.0,237665.0,NaN
14,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,65-74 years,256806.0,2509095.0,272676.0,139386.0,4676.0,394174.0,NaN
15,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,75-84 years,300162.0,3034906.0,317267.0,152120.0,5348.0,470076.0,NaN
16,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,85 years and over,311863.0,3506836.0,301325.0,130004.0,5376.0,488021.0,NaN
17,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Male,All Ages,629728.0,6469164.0,645490.0,326161.0,10848.0,958520.0,NaN
18,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Male,Under 1 year,284.0,40371.0,586.0,54.0,40.0,854.0,NaN
19,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Male,0-17 years,910.0,76420.0,1601.0,236.0,282.0,2544.0,NaN

In [4]:
covid_data_df.columns

Index(['Data As Of', 'Start Date', 'End Date', 'Group', 'Year', 'Month',
       'State', 'Sex', 'Age Group', 'COVID-19 Deaths', 'Total Deaths',
       'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths', 'Influenza Deaths',
       'Pneumonia, Influenza, or COVID-19 Deaths', 'Footnote'],
      dtype='object')

In [5]:
new_df = covid_data_df.loc[:,['Data As Of', 'Start Date', 'End Date', 'Group', 'Year', 'Month',
       'State', 'Sex', 'Age Group', 'COVID-19 Deaths', 'Total Deaths',
       'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths']]
new_df

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths
0,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,All Ages,1146774.0,12303399.0,1162844.0,569264.0
1,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,Under 1 year,519.0,73213.0,1056.0,95.0
2,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,0-17 years,1696.0,130970.0,2961.0,424.0
3,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,1-4 years,285.0,14299.0,692.0,66.0
4,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,5-14 years,509.0,22008.0,818.0,143.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137695,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,50-64 years,NaN,75.0,14.0,NaN
137696,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,55-64 years,0.0,65.0,10.0,0.0
137697,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,65-74 years,NaN,91.0,NaN,NaN
137698,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,75-84 years,NaN,211.0,36.0,NaN
137699,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,85 years and over,NaN,265.0,42.0,NaN

In [6]:
new_df['Year'] = new_df['Year'].fillna(0)
new_df['Month'] = new_df['Month'].fillna(0)
new_df

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths
0,09/27/2023,01/01/2020,09/23/2023,By Total,0.0,0.0,United States,All Sexes,All Ages,1146774.0,12303399.0,1162844.0,569264.0
1,09/27/2023,01/01/2020,09/23/2023,By Total,0.0,0.0,United States,All Sexes,Under 1 year,519.0,73213.0,1056.0,95.0
2,09/27/2023,01/01/2020,09/23/2023,By Total,0.0,0.0,United States,All Sexes,0-17 years,1696.0,130970.0,2961.0,424.0
3,09/27/2023,01/01/2020,09/23/2023,By Total,0.0,0.0,United States,All Sexes,1-4 years,285.0,14299.0,692.0,66.0
4,09/27/2023,01/01/2020,09/23/2023,By Total,0.0,0.0,United States,All Sexes,5-14 years,509.0,22008.0,818.0,143.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137695,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,50-64 years,NaN,75.0,14.0,NaN
137696,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,55-64 years,0.0,65.0,10.0,0.0
137697,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,65-74 years,NaN,91.0,NaN,NaN
137698,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,75-84 years,NaN,211.0,36.0,NaN
137699,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,85 years and over,NaN,265.0,42.0,NaN

In [7]:
new_df.columns

Index(['Data As Of', 'Start Date', 'End Date', 'Group', 'Year', 'Month',
       'State', 'Sex', 'Age Group', 'COVID-19 Deaths', 'Total Deaths',
       'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths'],
      dtype='object')

In [8]:
new_df.dropna(subset = ['COVID-19 Deaths', 'Total Deaths',
       'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths'], inplace=True)
new_df

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths
0,09/27/2023,01/01/2020,09/23/2023,By Total,0.0,0.0,United States,All Sexes,All Ages,1146774.0,12303399.0,1162844.0,569264.0
1,09/27/2023,01/01/2020,09/23/2023,By Total,0.0,0.0,United States,All Sexes,Under 1 year,519.0,73213.0,1056.0,95.0
2,09/27/2023,01/01/2020,09/23/2023,By Total,0.0,0.0,United States,All Sexes,0-17 years,1696.0,130970.0,2961.0,424.0
3,09/27/2023,01/01/2020,09/23/2023,By Total,0.0,0.0,United States,All Sexes,1-4 years,285.0,14299.0,692.0,66.0
4,09/27/2023,01/01/2020,09/23/2023,By Total,0.0,0.0,United States,All Sexes,5-14 years,509.0,22008.0,818.0,143.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137670,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Male,5-14 years,0.0,0.0,0.0,0.0
137683,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,All Ages,15.0,664.0,99.0,12.0
137684,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,Under 1 year,0.0,0.0,0.0,0.0
137687,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,5-14 years,0.0,0.0,0.0,0.0
137696,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,Female,55-64 years,0.0,65.0,10.0,0.0

In [11]:
new_df.to_csv("Cleaned_Covid_Data.csv")