In [2]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [3]:
covid_data_csv = Path("COVID-19_Deaths_by_Sex_and_Age_20240328.csv")
covid_data_df = pd.read_csv(covid_data_csv)

In [4]:
covid_data_df.head()

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,All Ages,1146774.0,12303399.0,1162844.0,569264.0,22229.0,1760095.0,NaN
1,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,Under 1 year,519.0,73213.0,1056.0,95.0,64.0,1541.0,NaN
2,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,0-17 years,1696.0,130970.0,2961.0,424.0,509.0,4716.0,NaN
3,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,1-4 years,285.0,14299.0,692.0,66.0,177.0,1079.0,NaN
4,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,All Sexes,5-14 years,509.0,22008.0,818.0,143.0,219.0,1390.0,NaN

In [5]:
columns = ["Data As Of", "Start Date", "End Date",	"Group", "Year", "Month", "State", "Sex", "Age Group",
           "COVID-19 Deaths", "Total Deaths", "Pneumonia Deaths", "Pneumonia and COVID-19 Deaths", "Influenza Deaths",
           "Pneumonia, Influenza, or COVID-19 Deaths"]
covid_nj_df = covid_data_df.loc[covid_data_df["State"] == "New Jersey", columns]

In [6]:
covid_nj_df

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
1581,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,New Jersey,All Sexes,All Ages,35691.0,312963.0,31031.0,17287.0,363.0,49766.0
1582,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,New Jersey,All Sexes,Under 1 year,14.0,1140.0,19.0,NaN,NaN,32.0
1583,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,New Jersey,All Sexes,0-17 years,28.0,1935.0,43.0,NaN,NaN,69.0
1584,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,New Jersey,All Sexes,1-4 years,NaN,210.0,NaN,0.0,NaN,NaN
1585,09/27/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,New Jersey,All Sexes,5-14 years,NaN,301.0,12.0,NaN,NaN,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87205,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,50-64 years,NaN,208.0,NaN,NaN,0.0,10.0
87206,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,55-64 years,NaN,168.0,NaN,NaN,0.0,10.0
87207,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,65-74 years,NaN,269.0,12.0,0.0,0.0,14.0
87208,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,75-84 years,14.0,469.0,31.0,NaN,0.0,39.0
87209,09/27/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,New Jersey,Female,85 years and over,23.0,810.0,41.0,NaN,0.0,56.0

In [13]:
columns2 = ["Start Date", "End Date", "State", "Sex", "Age Group", "COVID-19 Deaths", "Total Deaths", "Pneumonia Deaths", "Pneumonia and COVID-19 Deaths", "Influenza Deaths",
           "Pneumonia, Influenza, or COVID-19 Deaths"]
#creating data fram for males
male_df = covid_nj_df.loc[covid_nj_df["Sex"] == "Male", columns2]
male_df

,Start Date,End Date,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
1598,01/01/2020,09/23/2023,New Jersey,Male,All Ages,19376.0,158472.0,17012.0,9677.0,188.0,26886.0
1599,01/01/2020,09/23/2023,New Jersey,Male,Under 1 year,NaN,648.0,13.0,NaN,0.0,18.0
1600,01/01/2020,09/23/2023,New Jersey,Male,0-17 years,13.0,1133.0,25.0,NaN,NaN,37.0
1601,01/01/2020,09/23/2023,New Jersey,Male,1-4 years,NaN,110.0,NaN,0.0,0.0,NaN
1602,01/01/2020,09/23/2023,New Jersey,Male,5-14 years,NaN,167.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
87188,09/01/2023,09/23/2023,New Jersey,Male,50-64 years,NaN,270.0,NaN,NaN,0.0,NaN
87189,09/01/2023,09/23/2023,New Jersey,Male,55-64 years,NaN,206.0,NaN,NaN,0.0,NaN
87190,09/01/2023,09/23/2023,New Jersey,Male,65-74 years,NaN,374.0,23.0,NaN,0.0,28.0
87191,09/01/2023,09/23/2023,New Jersey,Male,75-84 years,13.0,476.0,38.0,NaN,0.0,45.0
87192,09/01/2023,09/23/2023,New Jersey,Male,85 years and over,19.0,483.0,32.0,NaN,0.0,44.0

In [ ]:
female_df = covid_nj_df.loc[covid_nj_df["Sex"] == "Female", columns2]
female_df